.imagen {
    width: 28rem;
    padding: 0;
    margin: 0;
}

.Detalles {
    display: flex;
    align-items: left;
    flex-direction: column;
}

.contenedorItem {
    display: flex;
    margin: 6rem;
    padding: 0;
    width: 70rem;
    border: 0.5rem solid rgb(101, 101, 101);
    background-color: rgb(237, 237, 237);
}

.nombre {
    display: flex;
    margin-left: 5rem;
    flex-direction: column;
}

.descripcion {
    width: 30rem;
}

.Precio{
    color: blueviolet;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}